*.cubemap filter=lfs diff=lfs merge=lfs -text
/Assets/Skybox[[:space:]]add-on/Images/Skybox_1.psd filter=lfs diff=lfs merge=lfs -text
/Assets/Skybox[[:space:]]add-on/Images/Skybox_10.psd filter=lfs diff=lfs merge=lfs -text
/Assets/Skybox[[:space:]]add-on/Images/Skybox_2.psd filter=lfs diff=lfs merge=lfs -text
/Assets/Skybox[[:space:]]add-on/Images/Skybox_3.psd filter=lfs diff=lfs merge=lfs -text
/Assets/Skybox[[:space:]]add-on/Images/Skybox_4.psd filter=lfs diff=lfs merge=lfs -text
/Assets/Skybox[[:space:]]add-on/Images/Skybox_5.psd filter=lfs diff=lfs merge=lfs -text
/Assets/Skybox[[:space:]]add-on/Images/Skybox_6.psd filter=lfs diff=lfs merge=lfs -text
/Assets/Skybox[[:space:]]add-on/Images/Skybox_7.psd filter=lfs diff=lfs merge=lfs -text
/Assets/Skybox[[:space:]]add-on/Images/Skybox_8.psd filter=lfs diff=lfs merge=lfs -text
/Assets/Skybox[[:space:]]add-on/Images/Skybox_9.psd filter=lfs diff=lfs merge=lfs -text
/Assets/SimplePoly[[:space:]]World/Models/Urban/Others/SPW_Demo[[:space:]]Scene_Urban.fbx filter=lfs diff=lfs merge=lfs -text
